body{
  display: flexbox;
  justify-content: center;
  align-content: center;
  background : url(Realm.png);
}

h1{
  text-align: center;
}

img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
  overflow: visible;
  border-radius: 7px;
}

product{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

img{
  width: 180px;
  height: 120px;
  object-fit: cover;
  background : linear-gradient(to right , #fffaf1, #a5a498);
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.718);
  border-radius: 7px;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 10px;
  
}

.card:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
  overflow: visible;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

p:hover{
  color: turquoise;
}