body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("/Realm.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1{
  text-align: center;
}

img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
  border-radius: 7px;
  overflow: visible;
}

img{
  width: 180px;
  height: 120px;
  object-fit: cover;
  background: linear-gradient(to right , #fffaf1, #a5a498);
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.718);
  border-radius: 7px;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 10px;
  transition: transform 0.3s ease;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

p:hover{
  color: turquoise;
}
